 
<style>
    .row {
        margin-right: 0px  !important;
        margin-left: 0px  !important;
         
    }
  :focus {outline:0 !important;}
 span:focus {
    outline: none !important;
    border: 0 !important;
 }
 .ng-submitted md-select.ng-invalid .md-select-value{
  color: rgb(221,44,0) !important;
  border-bottom-color: rgb(221,44,0) !important;
}
 
 md-content{
         text-align: center !important;
 } md-content.md-default-theme, md-content {
    color: rgba(0,0,0,0.87) !important;
    background-color: rgb(255,255,255) !important;
}
   
            .my-drop-zone { border: dotted 3px lightgray; }
            .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
            .another-file-over-class { border: dotted 3px green; }
        
.file_input_div {
  margin: auto;
  width: 250px;
  height: 40px;
}

.file_input {
  float: left;
}

#file_input_text_div {
  width: 200px;
  margin-top: -8px;
  margin-left: 5px;
}

.none {
  display: none;
}
         md-icon svg {
  fill: inherit;
}
     </style>
<div class="container-fluid">
    <div class=" card" ng-controller="ImportController as vm">
        <div class="header">
            <h2>
                Импорт данных в базу данных
                <small>Входной файл данных должен быть в формате CSV</small>
            </h2>

        </div>
        <div class="body table-responsive">
            <md-content flex="nogrow" >
                <div>
                    
                        <md-stepper-card-content class="md-no-padding">
                            <md-steppers md-dynamic-height md-disable-tabs-behavior="true" md-stretch-steppers="always" md-selected="vm.selectedStep" md-busy-text="'Processing...'">

                                <md-step label="Выбор файлов" md-complete="vm.stepData[0].data.completed" ng-disabled="vm.stepProgress < 1"
                                         nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
                                    <md-step-body>

                                        <md-content class="md-padding">
                                            <div class="row">

                                                <div class="row" style="
    color: #555;">



                                                    <div ng-show="uploader.isHTML5">
                                                        <div class="dropzone">
                                                            <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
                                                                <div class="dz-message">
                                                                    <div nv-file-over="" uploader="uploader" over-class="another-file-over-class  " class="well my-drop-zone">
                                                                        <div class="drag-icon-cph ">
                                                                            <style>
                                                                                #file {
                                                                                    display: none;
                                                                                    cursor: pointer;
                                                                                }

                                                                                .pointert {
                                                                                    cursor: pointer;
                                                                                }
                                                                            </style>


                                                                            <label class="mdl-button mdl-js-button mdl-button--icon mdl-button--file">
                                                                                <i class="material-icons pointert">file_upload</i>
                                                                                <input type="file" id="file" nv-file-select="" uploader="uploader" multiple>
                                                                            </label>
                                                                        </div>
                                                                        <h3>Для загрузки перетащите сюда файл или нажмите на значок загрузки</h3>


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row" style="margin-bottom: 40px;    color: #555;">

                                                    <h2>Очередь для загрузки</h2>
                                                    <p>Длина очереди: {{ uploader.queue.length }}</p>

                                                    <table class="table table-striped" style="    color: #555;">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th ng-show="uploader.isHTML5">Size</th>
                                                               
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="item in uploader.queue">
                                                                <td><strong>{{ item.file.name }}</strong></td>
                                                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                               
                                                                <td nowrap>
                                                                    
                                                                
                                                                    <md-button class="md-icon-button md-primary " aria-label="Удалить" ng-click="item.remove()">
                                                                        <md-icon style=" color :red;">delete</md-icon>
                                                                    </md-button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <div>
                                                      
                                                    </div>

                                                </div>

                                            </div>

                                        </md-content>
                                        <md-step-actions layout="row">
                                            <div flex layout="row" layout-align="end top"> 
                                                <md-button ng-disabled="vm.showBusyText||!uploader.queue.length" ng-click="vm.NextStep()" class="md-primary md-raised"  >
                                                    Далее
                                                </md-button>
                                            </div>
                                        </md-step-actions>

                                    </md-step-body>
                                </md-step>
                                <md-step label="Контроль данных" md-complete="vm.stepData[1].data.completed" ng-disabled="vm.stepProgress < 2">
                                    <md-step-body>
                                        <form name="step2">
                                            <md-content class="md-padding">
                                                <div class="row">
 

                                                    <div class="row" style="margin-bottom: 40px;    color: #555;">

                                                        <h2>Очередь для загрузки</h2>
                                                        <p class="align-center">Длина очереди: {{ uploader.queue.length }}</p>

                                                        <table class="table table-striped" style="    color: #555;">
                                                            <thead>
                                                                <tr>
                                                                    <th>Name</th>
                                                                    <th ng-show="uploader.isHTML5">Size</th>
                                                                    <th ng-show="uploader.isHTML5">Progress</th>
                                                                    <th>Status</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="item in uploader.queue">
                                                                    <td><strong>{{ item.file.name }}</strong></td>
                                                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                                    <td ng-show="uploader.isHTML5">
                                                                        <div class="progress" style="margin-bottom: 0;">
                                                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                                                    </td>
                                                                    <td nowrap>

                                                                        <!--<md-button class="md-icon-button md-primary " aria-label="Загрузить" ng-click=" item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                                            <md-icon style=" color : green;">file_upload</md-icon>
                                                                        </md-button>-->
                                                                        <!--<md-button class="md-icon-button md-primary " aria-label="Отмена" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                                            <md-icon style=" color :orange;">do_not_disturb_alt</md-icon>
                                                                        </md-button>-->
                                                                        <md-button class="md-icon-button md-primary " aria-label="Удалить" ng-click="item.remove()">
                                <md-icon style=" color :red;">delete</md-icon>
                            </md-button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <div>
                                                            <div>
                                                                Queue progress:
                                                                <div class="progress" style="">
                                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                                                </div>
                                                            </div>
                                                           
                                                            <!--<button type="button" class="btn bg-orange waves-effect" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                                                <i class="material-icons">do_not_disturb_alt</i>
                                                                <span>Отменить все</span>
                                                            </button>-->
                                                            <!--<button type="button" class="btn bg-red waves-effect" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                    <i class="material-icons">delete</i>
                    <span>Удалить все</span>
                </button>-->

                                                        </div>

                                                    </div>

                                                </div>

                                            </md-content>
                                            <md-step-actions layout="row" layout-align="start top">
                                                <div flex>
                                                    <!--<md-button ng-click="vm.moveToPreviousStep()">PREVIOUS</md-button>-->

                                                    <md-button class="md-primary md-raised md-button md-ink-ripple align-left" ng-click="vm.moveToPreviousStep()">
                                                        PREVIOUS
                                                    </md-button>
                                                </div>
                                                <div flex layout="row" layout-align="end top">
                                                    
                                                    <button type="button" class="btn bg-green waves-effect" ng-click="uploader.uploadAll()" ng-disabled="vm.showBusyText||!uploader.getNotUploadedItems().length">
                                                        <i class="material-icons">file_upload</i>
                                                        <span>Загрузить все</span>
                                                    </button>
                                                </div>
                                            </md-step-actions>
                                        </form>
                                    </md-step-body>
                                </md-step>
                                <md-step label="Завершение" md-complete="vm.stepData[2].data.completed" ng-disabled="vm.stepProgress < 3">
                                    <md-step-body>
                                        <form name="step2">
                                            <md-content class="md-padding">
                                                <div class="row" style="text-align: -webkit-center;">
                                                    <div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="    display: table-cell;    position: inherit !important; margin-top: -148px;">
                                                        <div class="sa-icon sa-error" style="display: none;">
                                                            <span class="sa-x-mark">
                                                                <span class="sa-line sa-left"></span>
                                                                <span class="sa-line sa-right"></span>
                                                            </span>
                                                        </div><div class="sa-icon sa-warning" style="display: none;">
                                                            <span class="sa-body"></span>
                                                            <span class="sa-dot"></span>
                                                        </div><div class="sa-icon sa-info" style="display: none;"></div><div class="sa-icon sa-success animate" style="display: block;">
                                                            <span class="sa-line sa-tip animateSuccessTip"></span>
                                                            <span class="sa-line sa-long animateSuccessLong"></span>

                                                            <div class="sa-placeholder"></div>
                                                            <div class="sa-fix"></div>
                                                        </div><div class="sa-icon sa-custom" style="display: none;"></div><h2>Данные добавлены!</h2>
                                                        
                                                         <div class="sa-button-container">
                                                             <div class="sa-confirm-button-container">
                                                                <button ng-click="vm.restart()" class="confirm" tabindex="1" style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">Заново</button><div class="la-ball-fall">
                                                                    <div></div>
                                                                    <div></div>
                                                                    <div></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                
                                            </md-content>
                                        </form>
                                    </md-step-body>
                                </md-step>
                            </md-steppers>
                        </md-stepper-card-content>
                    
                </div>
            </md-content>
        </div>

    </div>
</div>