<style>
     tr  td input{
            min-width: 55px;
       }
.table-header-rotated th.row-header{
  width: auto;
}
.link-btn /deep/ .mat-button-focus-overlay {
    background-color:transparent;
}
 
.table-header-rotated td{
  width: auto;
   
  vertical-align: middle;
  text-align: center;
}
.table tbody tr td  {
    padding: 0 !important; 
    text-align: center !important; 
    vertical-align: middle !important; 
}
.table-header-rotated th.rotate-45{
  height: 100px;
  width: 40px;
  min-width: 100px;
  max-width: 40px;
  position: relative;  
  vertical-align: middle;
  text-align: center;
  padding: 0;
  font-size: 12px;
  line-height: 0.8;
   
      white-space: inherit !important;
}

.table-header-rotated th.rotate-45 > div{
  position: relative;
  top: 0px;
  left: 40px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 100%;
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);
  overflow: hidden;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  
}

.table-header-rotated th.rotate-45 span {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  /*// width: 100%;*/
  width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
      white-space: inherit !important;
   /*// white-space: nowrap;whether to display in one line or not*/
}
    .green {
        color: #8BC34A !important;
    }

    .red {
        color: #FFC107 !important;
    }

    :focus {
        outline: 0 !important;
    }

    .noPadding {
        padding: 0 !important;
    }

    td p {
        padding: 10px;
        margin: 0;
    }
</style>
<div class="container-fluid">

    <!-- Basic Table -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Cведения О МТЦ
                        <small>Сведения о МТЦ, поступающих, хранящихся и выдаваемых со склада КТ</small>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body table-responsive js-sweetalert">
                    <!--<table class="table table-striped" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance">

            <colgroup>
                <col width="" />
                <col width="" />
                <col width="" />
                <col width="" />
                <col width="" />
            </colgroup>
            <thead>
                <tr>
                    <th  ></th>
                    <th> </th>
                    <th  >Номер упаковки</th>
                    <th >Наименование изделия</th>
                    <th  >Заводской номер</th>
                    <th  >Количество</th>
                    <th>Обозначение</th>
                    <th>Система</th>
                    <th>Принадлежность</th>
                    <th>Принадлежность к объекту</th>
                    <th>Стоимость</th>
                    <th>Ответственный</th>
                    <th>Местонахождение на складе</th>
                    <th>Вес брутто</th>
                    <th>Вес нетто</th>
                    <th>Длина</th>
                    <th>Ширина</th>
                    <th>Высота</th>
                    <th>Дата приёма</th>
                    <th>Откуда</th>
                    <th>Дата выдачи</th>
                    <th>Куда</th>
                    <th>Номер пломбы</th>
                    <th>Примечание</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in userList">
                    <td><a class="green shortinfo" href="javascript:;" ng-click="childInfo(user.value.Soderzhimoe, $event)" title="Click to view more"><i class="glyphicon glyphicon-plus-sign  green"></a></td>
                    <td style="display: inline-flex !important;">


                        <md-button class="md-icon-button md-primary " style="    margin: 0 0px !important;" aria-label="Редактировать" ng-click="item.remove()">
                            <md-icon style=" color :#555;" ng-click="edit($index);">edit</md-icon>
                        </md-button>
                        <md-button class="md-icon-button md-primary " style="    margin: 0 0px !important;" aria-label="Удалить" ng-click="item.remove()">
                            <md-icon style=" color :#555;" ng-click="delete( );">delete_forever</md-icon>
                        </md-button>

                    </td>

                      <td>{{user.value.Nomer_upakovki}}</td>
                    <td>{{user.value.Naimenovanie_izdeliya}}</td>
                    <td>{{user.value.Zavodskoj_nomer}}</td>
                    <td>{{user.value.Kolichestvo}}</td>
                    <td>{{user.value.Oboznachenie}}</td>
                    <td>{{user.value.Sistema}}</td>
                    <td>{{user.value.Prinadlezhnost}}</td>
                    <td>{{user.value.Prinadlezhnost_k_obektu}}</td>
                    <td>{{user.value.Stoimost}}</td>
                    <td>{{user.value.Otvetstvennyj}}</td>
                    <td>{{user.value.Mestonahozhdenie_na_sklade}}</td>
                    <td>{{user.value.Ves_brutto}}</td>
                    <td>{{user.value.Ves_netto}}</td>
                    <td>{{user.value.Dlina}}</td>
                    <td>{{user.value.Shirina}}</td>
                    <td>{{user.value.Vysota}}</td>
                    <td>{{user.value.Data_priyoma}}</td>
                    <td>{{user.value.Otkuda}}</td>
                    <td>{{user.value.Data_vydachi}}</td>
                    <td>{{user.value.Kuda}}</td>
                    <td>{{user.value.Nomer_plomby}}</td>
                    <td>{{user.value.Primechanie}}</td>

                </tr>
            </tbody>
        </table>-->
                    <table class="table table-header-rotated  table-condensed " style="border-collapse:collapse;">
                        <md-input-container style="margin: 18px 0 0 0;">
                            <label>Кол-во</label>
                            <md-select ng-model="pageSizeSelected" ng-change="changePageSize()">

                                <md-option ng-repeat="pageSize in  pageSizes" ng-value="pageSize.abbrev" ng-selected="$first">
                                    {{pageSize.abbrev}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        
                        <md-button ng-show="archive" class="md-icon-button md-accent  waves-effect waves-pink " ng-click="showarchive()" aria-label=" favorite">
                            <md-icon> archive</md-icon>
                        </md-button>
                        <md-button ng-show="!archive" class="md-icon-button  waves-effect waves-pink " ng-click="showarchive()" aria-label=" favorite">
                            <md-icon> archive</md-icon>
                        </md-button>
                            Просмотр архива
                        <thead>

                            <tr>
                                <th>
                                    <md-icon style=" color : green;" ng-click="addRow()" data-type="cancel">  add</md-icon>
                                </th>


                                <th class="rotate-45"><div><span>Номер упаковки</span></div></th>
                                <th class="rotate-45"><div><span>Наименование изделия</span></div></th>
                                <th class="rotate-45"><div><span>Заводской номер</span></div></th>
                                <th class="rotate-45"><div><span>Количество</span></div></th>
                                <th class="rotate-45"><div><span>Обозначение</span></div></th>
                                <th class="rotate-45"><div><span>Система</span></div></th>
                                <th class="rotate-45"><div><span>Принадлежность</span></div></th>
                                 <th class="rotate-45"><div><span>Стоимость</span></div></th>
                                <th class="rotate-45"><div><span>Ответственный</span></div></th>
                                <th class="rotate-45"><div><span>Местонахождение на складе</span></div></th>
                                <th class="rotate-45"><div><span>Вес брутто</span></div></th>
                                <th class="rotate-45"><div><span>Вес нетто</span></div></th>
                                <th class="rotate-45"><div><span>Длина</span></div></th>
                                <th class="rotate-45"><div><span>Ширина</span></div></th>
                                <th class="rotate-45"><div><span>Высота</span></div></th>
                                <th class="rotate-45"><div><span>Дата приёма</span></div></th>
                                <th class="rotate-45"><div><span>Откуда</span></div></th>
                                <th class="rotate-45"><div><span>Дата выдачи</span></div></th>
                                <th class="rotate-45"><div><span>Куда</span></div></th>
                                <th class="rotate-45"><div><span>Номер пломбы</span></div></th>
                                <th class="rotate-45"><div><span>Примечание</span></div></th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat-start="user in userList track by $index" class="accordion-toggle">

                                <td style="display: inline-flex !important; border-bottom: 0px !important;">




                                    <!--<a ng-show="!user.showSub" class="green shortinfo" href="javascript:;" ng-click="childInfo(user )" title="Click to view more">
                        <i class="material-icons" data-toggle="collapse" data-target="#row-{{$index}}">storage</i>

                    </a>
                    <a ng-show="user.showSub" class="red shortinfo" href="javascript:;" ng-click="childInfo(user )" title="Click to view more">
                        <i class="material-icons " data-toggle="collapse" data-target="#row-{{$index}}">storage</i>
                    </a>-->
                                    <md-icon data-toggle="collapse" class=" float-icon" style="    color: #555;" data-target="#rowH-{{$index}}" ng-show="!user.showHistory" ng-click="gethistory(user )">schedule</md-icon>
                                    <md-icon style=" color :orange;" data-toggle="collapse" data-target="#rowH-{{$index}}" ng-show="user.showHistory" ng-click="gethistory(user )">schedule</md-icon>
                                    <!--<md-icon style=" color :orange;" data-toggle="collapse" data-target="#row-{{$index}}" ng-show="user.showSub" ng-click="childInfo(user )">schedule</md-icon>-->

                                    <md-icon  data-toggle="collapse" style="    color: #555;" data-target="#row-{{$index}}" ng-show="!user.showSub" ng-click="childInfo(user )">storage</md-icon>
                                    <md-icon style=" color :orange;" data-toggle="collapse" data-target="#row-{{$index}}" ng-show="user.showSub" ng-click="childInfo(user )">storage</md-icon>
                                    <md-button ng-show="!archive" class="md-icon-button  waves-effect waves-purple   " ng-style="height: auto;   width: auto;" ng-click="archivete()" aria-label=" favorite">
                                        <md-icon style=" color :#555;"> archive</md-icon>
                                    </md-button>
                                    <md-icon style=" color :#555;" ng-show="user.showEdit" ng-click="toggleEdit(user)">edit</md-icon>
                                    <md-icon style=" color :#555;" ng-show="!user.showEdit" ng-click="cancelEdit(user)">close</md-icon>
                                    <md-icon style=" color :#555;" ng-show="!user.showEdit" ng-click="acceptEdit(user)">done</md-icon>
                                    <md-icon style=" color :#555;" ng-click="delete(user)" data-type="cancel">delete_forever</md-icon>


                                </td>


                                <td scope="row">
                                    <span ng-show="user.showEdit">
                                        {{user.value.Nomer_upakovki}}
                                    </span>
                                    <md-input-container ng-show="!user.showEdit" style="margin: 0 0; " dividercolor="primary">
                                        <input ng-show="!user.showEdit" type="text" ng-model="user.value.Nomer_upakovki">
                                        <div ng-show="!isNumber(user.value.Nomer_upakovki)||!user.value.Nomer_upakovki">

                                            <div ng-message="required" ng-show=" !user.value.Nomer_upakovki">Обязательное поле</div>
                                            <div ng-message="required" ng-show=" !isNumber(user.value.Nomer_upakovki)&&user.value.Nomer_upakovki">Числовое поле</div>
                                        </div>
                                    </md-input-container>

                                   
                                </td>
                                <td>
                                    <span ng-show="user.showEdit">
                                        {{user.value.Naimenovanie_izdeliya}}
                                    </span>
                                    <md-input-container ng-show="!user.showEdit" style="margin: 0 0; " dividercolor="primary">
                                        <input ng-show="!user.showEdit" type="text" ng-model="user.value.Naimenovanie_izdeliya">
                                        <div ng-show="!user.value.Naimenovanie_izdeliya">

                                            <div ng-message="required" ng-show=" !user.value.Naimenovanie_izdeliya">Обязательное поле</div>
                                        </div>
                                    </md-input-container>

                                </td>
                                <td>
                                    <span ng-show="user.showEdit">
                                        {{user.value.Zavodskoj_nomer}}
                                    </span>
                                    <md-input-container ng-show="!user.showEdit" style="margin: 0 0; " dividercolor="primary">
                                        <input ng-show="!user.showEdit" type="text" ng-model="user.value.Zavodskoj_nomer">
                                        <div ng-show="!user.value.Zavodskoj_nomer">

                                            <div ng-message="required" ng-show=" !user.value.Zavodskoj_nomer">Обязательное поле</div>
                                        </div>
                                    </md-input-container>
                                </td>
                                <td>
                                    <span ng-show="user.showEdit">
                                        {{user.value.Kolichestvo}}
                                    </span>
                                    <md-input-container ng-show="!user.showEdit" style="margin: 0 0; " dividercolor="primary">
                                        <input ng-show="!user.showEdit" type="text" ng-model="user.value.Kolichestvo">
                                        <div ng-show="!isNumber(user.value.Kolichestvo)||!user.value.Kolichestvo||user.value.Kolichestvo==0">

                                            <div ng-message="required" ng-show=" !user.value.Kolichestvo">Обязательное поле</div>
                                            <div ng-message="required" ng-show=" (!isNumber(user.value.Kolichestvo)||user.value.Kolichestvo==0)&&user.value.Kolichestvo">Числовое положительное поле</div>
                                        </div>
                                    </md-input-container>
                                </td>
                                <td>
                                    <span ng-show="user.showEdit">
                                        {{user.value.Oboznachenie}}
                                    </span>
                                    <md-input-container ng-show="!user.showEdit" style="margin: 0 0; " dividercolor="primary">
                                        <input ng-show="!user.showEdit" type="text" ng-model="user.value.Oboznachenie">
                                      
                                    </md-input-container>
                                </td>
                                <td>
                                    <span ng-show="user.showEdit">
                                        {{user.value.Sistema}}
                                    </span>
                                    <md-input-container ng-show="!user.showEdit" style="margin: 0 0; " dividercolor="primary">
                                        <input ng-show="!user.showEdit" type="text" ng-model="user.value.Sistema">
                                        <div ng-show="!user.value.Sistema ">

                                            <div ng-message="required" ng-show=" !user.value.Sistema">Обязательное поле</div>
                                               </div>
                                    </md-input-container>
                                </td>
                                <td>
                                    <span ng-show="user.showEdit">
                                        {{user.value.Prinadlezhnost}}
                                    </span>
                                    <input ng-show="!user.showEdit" type="text" ng-model="user.value.Prinadlezhnost" class="form-control">
                                </td>
                             
                                <td>
                                    <span ng-show="user.showEdit">
                                        {{user.value.Stoimost}}
                                    </span>
                                    <input ng-show="!user.showEdit" type="text" ng-model="user.value.Stoimost" class="form-control">
                                </td>
                                <td>
                                    <span ng-show="user.showEdit">
                                        {{user.value.Otvetstvennyj}}
                                    </span>
                                    <input ng-show="!user.showEdit" type="text" ng-model="user.value.Otvetstvennyj" class="form-control">
                                </td>
                                <td>
                                    <span ng-show="user.showEdit">
                                        {{user.value.Mestonahozhdenie_na_sklade}}
                                    </span>
                                    <input ng-show="!user.showEdit" type="text" ng-model="user.value.Mestonahozhdenie_na_sklade" class="form-control">

                                </td>
                                <td>
                                    <span ng-show="user.showEdit">
                                        {{user.value.Ves_brutto}}
                                    </span>
                                    <input ng-show="!user.showEdit" type="text" ng-model="user.value.Ves_brutto" class="form-control">

                                </td>
                                <td>
                                    <span ng-show="user.showEdit">
                                        {{user.value.Ves_netto}}
                                    </span>
                                    <input ng-show="!user.showEdit" type="text" ng-model="user.value.Ves_netto" class="form-control">
                                </td>
                                <td>
                                    <span ng-show="user.showEdit">
                                        {{user.value.Dlina}}
                                    </span>
                                    <input ng-show="!user.showEdit" type="text" ng-model="user.value.Dlina" class="form-control">
                                </td>
                                <td>
                                    <span ng-show="user.showEdit">
                                        {{user.value.Shirina}}
                                    </span>
                                    <input ng-show="!user.showEdit" type="text" ng-model="user.value.Shirina" class="form-control">
                                </td>
                                <td>
                                    <span ng-show="user.showEdit">
                                        {{user.value.Vysota}}
                                    </span>
                                    <input ng-show="!user.showEdit" type="text" ng-model="user.value.Vysota" class="form-control">
                                </td>
                                <td>
                                    <span ng-show="user.showEdit">
                                        {{user.value.Data_priyoma}}
                                    </span>
                                    <input ng-show="!user.showEdit" type="text" ng-model="user.value.Data_priyoma" class="form-control">
                                </td>
                                <td>
                                    <span ng-show="user.showEdit">
                                        {{user.value.Otkuda}}
                                    </span>
                                    <input ng-show="!user.showEdit" type="text" ng-model="user.value.Otkuda" class="form-control">
                                </td>
                                <td>
                                    <span ng-show="user.showEdit">
                                        {{user.value.Data_vydachi}}
                                    </span>
                                    <input ng-show="!user.showEdit" type="text" ng-model="user.value.Data_vydachi" class="form-control">
                                </td>
                                <td>
                                    <span ng-show="user.showEdit">
                                        {{user.value.Kuda}}
                                    </span>
                                    <input ng-show="!user.showEdit" type="text" ng-model="user.value.Kuda" class="form-control">
                                </td>
                                <td>
                                    <span ng-show="user.showEdit">
                                        {{user.value.Nomer_plomby}}
                                    </span>
                                    <input ng-show="!user.showEdit" type="text" ng-model="user.value.Nomer_plomby" class="form-control">
                                </td>
                                <td>
                                    <span ng-show="user.showEdit">
                                        {{user.value.Primechanie}}
                                    </span>
                                    <input ng-show="!user.showEdit" type="text" ng-model="user.value.Primechanie" class="form-control">
                                </td>

                            </tr>
                            <tr ng-repeat-end>
                                <td colspan="23" class="noPadding">

                                    <table ng-show="user.showSub" class="table table-striped  collapse collapsible  noPadding" id="row-{{$index}}" style="width: 30%;  float: left;">
                                        <tr>
                                            <th>
                                                Наименовани составной единицы :
                                            </th>
                                            <th>Обозначение составной единицы:</th>
                                            <th>Количество составных единиц :</th>
                                            <th style="vertical-align:central"> <md-icon ng-show="!user.showEdit" style=" color : green;" ng-click="AddSub(user)" data-type="cancel">  add</md-icon></th>
                                        </tr>
                                        <tr ng-repeat="u in user.value.Soderzhimoe">
                                            <td>
                                                <span ng-show="user.showEdit">
                                                    {{u.Naimenovanie_sostavnoj_edinicy}}
                                                </span>
                                                <input ng-show="!user.showEdit" type="text" ng-model="u.Naimenovanie_sostavnoj_edinicy" class="form-control">
                                            </td>


                                            <td>
                                                <span ng-show="user.showEdit">
                                                    {{u.Oboznachenie_sostavnoj_edinicy}}
                                                </span>
                                                <input ng-show="!user.showEdit" type="text" ng-model="u.Oboznachenie_sostavnoj_edinicy" class="form-control">
                                            </td>


                                            <td>
                                                <span ng-show="user.showEdit">
                                                    {{u.Kolichestvo_sostavnyh_edinic}}
                                                </span>
                                                <input ng-show="!user.showEdit" type="text" ng-model="u.Kolichestvo_sostavnyh_edinic" class="form-control">
                                            </td>
                                            <td style="display: inline-flex !important; border-bottom: 0px !important;">


                                                <md-icon ng-show="!user.showEdit" style=" color :#555;" ng-click="deleteSub(user, $index);">delete_forever</md-icon>


                                            </td>
                                        </tr>




                                    </table>

                                    <table ng-show="IsHistory(user)" class="table table-striped  collapse collapsible  noPadding" id="rowH-{{$index}}" style="width: 30%;  float: left;">
                                        <tr>
                                            <th style="padding: 2% !important;"> </th>

                                            <th class="rotate-45"><div><span>Номер упаковки</span></div></th>
                                            <th class="rotate-45"><div><span>Наименование изделия</span></div></th>
                                            <th class="rotate-45"><div><span>Заводской номер</span></div></th>
                                            <th class="rotate-45"><div><span>Количество</span></div></th>
                                            <th class="rotate-45"><div><span>Обозначение</span></div></th>
                                            <th class="rotate-45"><div><span>Система</span></div></th>
                                            <th class="rotate-45"><div><span>Принадлежность</span></div></th>
                                            <th class="rotate-45"><div><span>Принадлежность к объекту</span></div></th>
                                            <th class="rotate-45"><div><span>Стоимость</span></div></th>
                                            <th class="rotate-45"><div><span>Ответственный</span></div></th>
                                            <th class="rotate-45"><div><span>Местонахождение на складе</span></div></th>
                                            <th class="rotate-45"><div><span>Вес брутто</span></div></th>
                                            <th class="rotate-45"><div><span>Вес нетто</span></div></th>
                                            <th class="rotate-45"><div><span>Длина</span></div></th>
                                            <th class="rotate-45"><div><span>Ширина</span></div></th>
                                            <th class="rotate-45"><div><span>Высота</span></div></th>
                                            <th class="rotate-45"><div><span>Дата приёма</span></div></th>
                                            <th class="rotate-45"><div><span>Откуда</span></div></th>
                                            <th class="rotate-45"><div><span>Дата выдачи</span></div></th>
                                            <th class="rotate-45"><div><span>Куда</span></div></th>
                                            <th class="rotate-45"><div><span>Номер пломбы</span></div></th>
                                            <th class="rotate-45"><div><span>Примечание</span></div></th>

                                        </tr>

                                        <tr ng-repeat-start="his in user.History track by $index" class="accordion-toggle">


                                            <td>
                                                <a ng-show="!IschildInfoHis(his)" class=" shortinfo" style="    color: #555;" href="javascript:;" ng-click="childInfoHis(his )" title="Click to view more">
                                                    <i class="material-icons" data-toggle="collapse" data-target="#rowHS-{{$index}}">storage</i>

                                                </a>
                                                <a ng-show="IschildInfoHis(his)" class="red shortinfo" href="javascript:;" ng-click="childInfoHis(his )" title="Click to view more">
                                                    <i class="material-icons " data-toggle="collapse" data-target="#rowHS-{{$index}}">storage</i>
                                                </a> 

                                             
                                            </td>

                                            <td scope="row">
                                                {{his.value.Nomer_upakovki}}
                                            </td>
                                            <td>

                                                {{his.value.Naimenovanie_izdeliya}}
                                            </td>
                                            <td>

                                                {{his.value.Zavodskoj_nomer}}
                                            </td>
                                            <td>

                                                {{his.value.Kolichestvo}}
                                            </td>
                                            <td>
                                                {{his.value.Oboznachenie}}
                                            </td>
                                            <td>
                                                {{his.value.Sistema}}
                                            </td>
                                            <td>
                                                {{his.value.Prinadlezhnost}}
                                            </td>
                                            <td>
                                                {{his.value.Prinadlezhnost_k_obektu}}
                                            </td>
                                            <td>
                                                {{his.value.Stoimost}}
                                            </td>
                                            <td>
                                                {{his.value.Otvetstvennyj}}
                                            </td>
                                            <td>
                                                {{his.value.Mestonahozhdenie_na_sklade}}
                                            </td>
                                            <td>
                                                {{his.value.Ves_brutto}}
                                            </td>
                                            <td>
                                                {{his.value.Ves_netto}}
                                            </td>
                                            <td>
                                                {{his.value.Dlina}}
                                            </td>
                                            <td>
                                                {{his.value.Shirina}}
                                            </td>
                                            <td>
                                                {{his.value.Vysota}}
                                            </td>
                                            <td>
                                                {{his.value.Data_priyoma}}
                                            </td>
                                            <td>
                                                {{his.value.Otkuda}}
                                            </td>
                                            <td>
                                                {{his.value.Data_vydachi}}
                                            </td>
                                            <td>
                                                {{his.value.Kuda}}
                                            </td>
                                            <td>
                                                {{his.value.Nomer_plomby}}
                                            </td>
                                            <td>
                                                {{his.value.Primechanie}}
                                            </td>

                                        </tr>
                                        <tr ng-repeat-end>
                                            <td colspan="23" class="noPadding">
                                                <table class="table table-striped    collapse collapsible     noPadding" id="rowHS-{{$index}}" style="width: 30%;  float: left;">
                                                    <tr>
                                                        <th>
                                                            Наименовани составной единицы :
                                                        </th>
                                                        <th>Обозначение составной единицы:</th>
                                                        <th>Количество составных единиц :</th>
                                                    </tr>
                                                    <tr ng-repeat="u1 in his.value.Soderzhimoe">
                                                        <td>

                                                            {{u1.Naimenovanie_sostavnoj_edinicy}}

                                                        </td>


                                                        <td>

                                                            {{u1.Oboznachenie_sostavnoj_edinicy}}

                                                        </td>


                                                        <td>

                                                            {{u1.Kolichestvo_sostavnyh_edinic}}

                                                        </td>

                                                    </tr>




                                                </table>
                                            
                                </td>
                                        </tr>
                                    </table>

                                </td>







                            </tr>



                        </tbody>
                        <tfoot>
                            <tr>


                                <td align="left" colspan="6   " style="    text-align: left;">




                                    <paging page="pageIndex"
                                            page-size="pageSizeSelected"
                                            total="totalCount"
                                            show-prev-next="true"
                                            show-first-last="true">
                                    </paging>

                                    <!--<div class="pull-right">
                        <pagination total-items="totalCount" ng-change="pageChanged()" items-per-page="pageSizeSelected" direction-links="true" ng-model="pageIndex" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages"></pagination>

                    </div>-->
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Basic Table -->

</div>

